.tittle-homeScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 8vw;
    font-weight: 800;
    margin-top: 5%;
    padding-bottom: 5px;
    background: linear-gradient(90deg, #07E2E4 0%, #257DB0 51.04%, #6D39C8 100%);
    -webkit-text-stroke: 0.7px #000000;
    -webkit-background-clip: text;
    color: transparent;
    
}

.subtittle-homeScreen{
    display: flex;
    margin-left: 5%;
}

h2{
    font-size: 6vw;
    font-weight: 600;
    transform: rotate(-20deg);
    margin-top: 75%;
    text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.img-acme{
    position: absolute;
    margin-left: 18%;
}