.container-cronometro {
    display: flex;
    justify-content: center;
}

.flexFooterH {
    display: flex;
    align-items: center;
}

.cronometro {
    background-color: rgba(255, 255, 255, 0.45);

    font-size: var(--fuenteMediana);
    border-radius: 10px;

    margin: 0 20px 0 20px;
    padding: 2%;

    display: flex;
    flex-direction: row;
}

.fondo {
    background: rgba(255, 255, 255, 0.23);
    border-radius: 100px;
    width: 40px;
    height: 40px;

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

}

.fondoIcono {
    width: 70%;
}

.moreLitle {
    width: 60%;
}