.contadores{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sectionSets{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionPuntos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;;
}

.contadorSets{
    font-size: 5vw;
    padding: 2px;
}

.contadorPuntos{
    font-size: 18vw;
}

.guion{
    padding-bottom: 11px;
}


