/* solo importaciones */

@import 'reset.css';
@import './variables.css';
@import './components/main_components.css';
@import '/styles/AveriaGruesaLibre-Regular.ttf';
/*view port*/
/*
h1 {
    background-color: red;
    height: 100vh; 
    width: 50vw;
}
*/

body {
    font-family:'Averia Gruesa Libre', cursive;
    background-color: var(--background_color);
    background-image: url("/img/fondo1.png");
    background-repeat: no-repeat;
    background-size: cover;
}