/* solo importaciones */

@import 'reset.css';
@import './variables.css';
@import './components/main_components.css';

body{
    background-image: url('/fondoVista2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}